.header {
  color: #fff;
  height: 120vh;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../assets/heroo.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.header-container {
  width: 1200px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header-container-inner {
  padding: 3rem;
}

.centerContainer {
  margin: 0 auto;
  width: 1200px;
}

.fexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 52px;
  margin-bottom: 32px;
}
h2 {
  font-size: 44px;
  margin-bottom: 48px;
}

p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 48px;
}

.btn {
  background-color: red;
}

.btn:link,
.btn:visited {
  font-size: 20px;
  font-weight: 600;
  background-color: #e67e22;
  text-decoration: none;
  color: #ffff;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 9px;
}

section {
  padding: 96px 0;
  background-color: #f7f7f7;
}
